.iconsContainer {
  position: fixed;
  top: 4%;
  right: 4%;
  display: flex;
  gap: 30px;
}

.selectedIcon {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFB6B9;
  border-radius: 20%;
  position: relative;
}

.nonSelectedIcon {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 20%;
  cursor: pointer;
  position: relative;
}

.nonSelectedIcon:hover {
  background-color: rgba(255, 182, 185, 0.4);
}